{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="text-center">
    <a class="btn btn-dark btn-lg p-2 mt-5 mb-3 mx-2" 
    href="{% url 'create' %}"> ADD NEW ENTRY </a>
</div>

<h4 class="d-md-none mx-3 mt-4">Media Entries: {{data|length}}</h4>
<hr class="d-md-none bg-dark-subtle my-2 mx-3">
<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-md-3 m-0 mb-5">
    {% for obj in data %} 
        <div class="col">
            <div class="card m-5">
                <img src="
                    {% if obj.pic %} {{ obj.pic.url }}
                    {% elif obj.img %} {{ obj.img.url }}
                    {% else %}{% static 'default.jpg' %}
                    {% endif %}" 
                    class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h4 class="card-title">{{obj.name}}</h4>
                    <hr class="bg-dark">
                    <a href="{% url 'update' obj.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'delete' obj.id %}" class="btn btn-success">Delete</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}