{% extends 'base.html' %}

{% load crispy_forms_tags %} <!-- after installing crispy, some lines were added in settings.py and this line for it to work -->

{% block content %}

<div class="d-flex flex-wrap justify-content-evenly">
    <div class="mx-auto my-5 p-5 border border-secondary-subtle border-2 rounded" style="height: fit-content;">
        <h2 class="text-center mb-5">Normal Form</h2> <hr class="mb-5">
        <form method="post">
            {% csrf_token %}
            {{form.as_p}} <!-- to have them on different lines instead -->
            <button type="submit" class="btn btn-primary my-2">Submit</button>
        </form>
    </div>

    <div class="mx-auto my-5 p-5 border border-secondary-subtle border-2 rounded" style="width: fit-content;">
        <h2 class="text-center mb-5">Crispy Form</h2> <hr class="mb-5">
        <form method="post" enctype="multipart/form-data"> <!-- enctype is for file uploading -->
            {% csrf_token %}
            {{form | crispy}} <!-- for styling the form with crispy -->
            <button type="submit" class="btn btn-primary my-2">Submit</button>
        </form>
    </div>
</div>

{% endblock %}